/* MAIN */

.cwhite {
  color: white;
}

main {
  display: flex;
  justify-content: center;
}

main .box {
  display: grid;
  grid-template-columns: 30% 75%; /* Adjust percentages as needed */
  grid-gap: 5px;
}

@media (max-width: 1024px) {
  main .box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
}

main #noproducts {
  display: grid;
  place-content: center;
}

.fixd {
  position: fixed;
}

footer {
  display: flex;
  justify-content: center;
}

.footerwhite {
  color: black;
}
