/* section */
section {
  margin: 0 auto;
  padding: 2rem;
  max-width: 930px;
}

/* product detail */

.containerproductdetail {
  border-radius: 6px;
  width: 690px;
  max-height: 480px;
  border: 1px solid gray;
  background-color: rgb(199, 197, 197);
}

.productdetail {
  display: flex;
  justify-content: space-between;
}

/*  images */
.containerpdimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
}

.containerpdimg #thumbnail {
  width: 370px;
  height: 300px;
  object-fit: contain;
}

.miniimages {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

.miniimages img {
  width: 35%;
  height: 35%;
  max-width: 66px;
  max-height: 56px;
}

.miniimages img:hover {
  border-radius: 1px;
}

/* other content */

.pdcontent {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 20px;
  align-items: center;
}

#p-title {
  margin-bottom: 16px;
  font-size: 24px;
  color: white;
  opacity: 0.8;
  color: #111;
}

.containerprice #price {
  font-size: 40px;
  margin-bottom: 15px;
  color: #111;
}

.containerproductdetail .productdetail .containerprice {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2px;
}

.containerproductdetail .productdetail .containerprice :nth-child(2) {
  margin-left: 8px;
  background-color: red;
  border-radius: 4px;
  padding: 4px 9px;
  font-size: 18px;
}

.heart {
  width: 45px;
  height: 20px;
  margin-top: 2px;
  margin-bottom: 10px;
}

#vldpb {
  color: #111;
}

#p-ccuotas {
  text-decoration: underline;
  color: #111;
}

.padreoctv {
  display: flex;
  justify-content: center;
}

#octv {
  margin-top: 20px;
   color: rgb(1, 156, 180);
}

.padrebutton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productdetail button {
  cursor: pointer;
  width: 200px;
}

/* options */

.options {
  padding: 10px;
  width: 680px;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  gap: 1px;
}

.actl {
  color: black;
}

/* option specifcations */

.technical-specs-table {
  display: flex;
  justify-content: space-between;
}

.technical-specs-table p {
  padding: 15px 10px;
}

.technical-specs-table :nth-child(2) {
  color: rgb(1, 156, 180);
}

.options p.active {
  border-bottom: 2px solid rgb(1, 156, 180);
}

.containerinfo {
  border-radius: 5px;
  border: 1px solid rgb(244, 242, 242);
  padding: 0px 14px;
  max-width: 900px;
}

/* option description */

.description {
  display: flex;
  flex-direction: column;
}

.containerinfo .description .padrebrand {
  display: flex;
  justify-content: center;
}

.containerinfo .description .padrebrand #brand {
  font-size: 40px;
  color: rgb(1, 156, 180);
}

/* option method payment and delivery */

.method-payment {
  display: flex;
  justify-content: space-between;
  gap: 2.3rem;
  padding: 40px 10px;
}

.method-payment #credit-cards {
  max-inline-size: 100%;
  block-size: auto;
  /* no hace falta poner ningun width: 94% ni mediaquery porque con estas 2 lineas ya esta */
}

.delivery {
  display: flex;
  justify-content: space-around;
  padding: 40px 90px;
}

.method-payment .method-payment-child .padreimgiconinfo,
.delivery .delivery-child .padreimgiconinfo {
  display: flex;
  justify-content: center;
}

.method-payment .method-payment-child :nth-child(1),
.method-payment .method-payment-child :nth-child(2),
.delivery .delivery-child :nth-child(1),
.delivery .delivery-child :nth-child(2) {
  color: rgb(1, 156, 180);
}

.method-payment .method-payment-child :nth-child(4) {
  opacity: 0.7;
}

.delivery .delivery-child :nth-child(3) {
  width: 75%;
}

.fixd {
  position: fixed;
}

@media (min-width: 298px) and (max-width: 391px) {
  .containerproductdetail {
    width: 280px;
    max-height: 790px;
  }

  #vldpb {
    text-align: center;
  }

  .containerproductdetail .productdetail .containerpdimg .padremainimg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 400px) and (max-width: 431px) {
  .containerproductdetail {
    width: 350px;
    max-height: 790px;
  }
}

@media (min-width: 460px) and (max-width: 540px) {
  .padreoctv {
    display: flex;
    justify-content: center;
  }

  .containerproductdetail {
    width: 410px;
    margin: 0;
    max-height: 790px;
  }
}

@media (max-width: 768px) {
  .containerproductdetail {
    max-height: 900px;
  }

  .containerproductdetail .productdetail {
    display: flex;
    flex-direction: column;
  }

  .containerproductdetail .productdetail .containerpdimg #thumbnail {
    max-width: 100%;
  }
}

/* media querys for options info */
@media (max-width: 432px) {
  .options {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .technical-specs-table {
    width: 90%;
  }
}

@media (min-width: 760px) and (max-width: 769px) {
  .containerinfo {
    width: 97%;
  }
}

@media (max-width: 820px) {
  .method-payment {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .delivery {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
  }

  .delivery .delivery-child.mobile {
    margin-bottom: 30px;
  }
}

@media (max-width: 984px) {
  .containerinfo {
    width: 79%;
  }
}
