#home {
  cursor: pointer;
}

h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  color: red;
}

#productlength {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.cart {
  background-color: white;
  border: 1px solid gray;
  padding: 32px;
  max-width: 215px;
  border-radius: 5px;
  height: 100vh;  
}

.cart.swipe {
  overflow-y: scroll;
}

.clearcart {
  margin-bottom: 21px;
  background-color: red;
}

.clearcartwithoutproduct {
  margin-bottom: 51px;
  background-color: black;
}

.cartfooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapfooter {
  max-width: 200px;
}

.finalizebuy {
  background-color: #919090;
  border-radius: 5px;
  margin-left: 7px;
  margin-bottom: 50px;
  cursor: pointer;
  opacity: 0.6;
  pointer-events: none;
  padding: 12px 20px;
}

.finalizebuy.good {
  pointer-events: all;
  opacity: 1;
  background-color: lawngreen;
}

@media (max-width: 370px) {
  #textemptycart {
    width: 90%;
  }
}

@media (min-width: 359px) and (max-width: 376px) {
  .cart {
    width: 178px;
  }

  .cart img {
    width: 155px;
    height: 155px;
  }
}

@media (min-width: 390px) and (max-width: 391px) {
  .cart {
    width: 190px;
  }

  .cart img {
    width: 180px;
    height: 180px;
  }
}

@media (min-width: 411px) and (max-width: 431px) {
  .cart {
    width: 196px;
  }
}
