.filters {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
}

.filters #minprice {
  font-size: 24px;
  color: rgb(2, 191, 191);
}

.filters label {
  color: rgb(2, 191, 191);
  font-size: 18px;
}

.filters > div {
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {
  .filters {
    flex-direction: column;
  }

  .filters .pricefilter {
    flex-direction: column;
    margin-bottom: 24px;
    width: 50%;
  }

  .filters .categoryfilter {
    margin-bottom: 20px;
    justify-content: center;
  }
}
