.containerproducts .alignsortproducts {
  display: flex;
  justify-content: space-between;
  max-width: 940px;
}

@media (max-width: 600px) {
  .containerproducts .alignsortproducts {
    max-width: 600px;
  }
}

.containerproducts .alignsortproducts .onlymobile {
  display: flex;
  justify-content: space-between;
}

.containerproducts .alignsortproducts .onlymobile #fathersort #abswhite {
  color: white;
}

.containerproducts .alignsortproducts .onlymobile #fathersort :nth-child(3) {
  font-weight: 700;
}

.containerproducts .alignsortproducts .onlymobile #fathersort :nth-child(2) {
  color: black;
}

.containerproducts
  .alignsortproducts
  .filtercategoryonlymobile
  span.titlefiltercategoryonlymobilewhite {
  color: white;
}

.containerproducts .alignsortproducts .onlymobile #fathersort :nth-child(1) {
  display: none;
}

.containerproducts .alignsortproducts .filtercategoryonlymobile {
  display: none;
}

@media (max-width: 1024px) {
  .containerproducts .alignsortproducts .onlymobile #fathersort {
    margin-bottom: 10px;
  }

  .containerproducts .alignsortproducts .filtercategoryonlymobile,
  .containerproducts .alignsortproducts .onlymobile #fathersort :nth-child(1) {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
  }

  .containerproducts .alignsortproducts .onlymobile #fathersort :nth-child(3) {
    display: none;
  }
}

@media (max-width: 1024px) {
  .containerproducts .alignsortproducts {
    display: flex;
    flex-direction: column;
  }

  .containerproducts .alignsortproducts .onlymobile #fathersort {
    display: flex;
    gap: 5px;
  }

  .containerproducts
    .alignsortproducts
    .onlymobile
    #fathersort
    #iconsortonlymobile {
    background-color: black;
  }

  .containerproducts
    .alignsortproducts
    .onlymobile
    .filtercategoryonlymobile
    span {
    color: black;
  }

  .containerproducts .alignsortproducts .onlymobile #fathersort :nth-child(2),
  .containerproducts
    .alignsortproducts
    .onlymobile
    .filtercategoryonlymobile
    span {
    text-transform: uppercase;
    color: rgb(1, 156, 180);
  }

  .containerproducts
    .alignsortproducts
    .onlymobile
    .filtercategoryonlymobile
    span {
    margin-right: 5px;
  }

  .containerproducts
    .alignsortproducts
    .onlymobile
    .filtercategoryonlymobile
    span.textfiltermobilewhite {
    color: white;
  }
}

@media (min-width: 1024px) and (max-width: 1374px) {
  .containerproducts .alignsortproducts {
    display: flex;
    justify-content: space-between;
    width: 84%;
  }
}

.containerproducts .alignsortproducts #abs {
  font-size: 20px;
}

.containerproducts .alignsortproducts div :nth-child(3) {
  font-size: 23px;
  color: black;
}

.containerproducts .alignsortproducts div :nth-child(3).typeorderwhite {
  color: white;
}

/* buttons filter sort */

.containerproducts .containerfiltersort {
  display: flex;
  flex-direction: column;
}

.containerfiltersort .filterssort {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 99;
}

.containerfiltersort .filterssort button {
  background-color: #fff;
  color: black;
  border-radius: none;
  font-weight: 400;
  font-size: 18px;
  width: 260px;
  height: 50px;
  text-align: left;
}

.containerfiltersort .filterssort button:hover {
  background-color: #e3e4e6;
}

.containerfiltersort .filterssort :nth-child(1) {
  position: absolute;
  bottom: -30px;
  right: 44px;
}

.containerfiltersort .filterssort :nth-child(2) {
  position: absolute;
  bottom: -80px;
  right: 44px;
}

.containerfiltersort .filterssort :nth-child(3) {
  position: absolute;
  bottom: -130px;
  right: 44px;
}

.containerfiltersort .filterssort :nth-child(4) {
  position: absolute;
  bottom: -180px;
  right: 44px;
}

.containerfiltersort .filterssort :nth-child(5) {
  position: absolute;
  bottom: -230px;
  right: 44px;
}

@media (min-width: 310px) and (max-width: 1024px) {
  .containerproducts .alignsortproducts .onlymobile #fathersort {
    margin-bottom: 25px;
  }

  .containerfiltersort .filterssort :nth-child(1) {
    order: 1; /* Ensure this button is always first */
    position: absolute;
    left: 0;
  }

  .containerfiltersort .filterssort :nth-child(2) {
    order: 2;
    position: absolute;
    left: 0;
  }

  .containerfiltersort .filterssort :nth-child(3) {
    order: 3;
    position: absolute;
    left: 0;
  }

  .containerfiltersort .filterssort :nth-child(4) {
    order: 4;
    position: absolute;
    left: 0;
  }

  .containerfiltersort .filterssort :nth-child(5) {
    order: 5;
    position: absolute;
    left: 0;
  }
}

.modalfiltersmobile {
  display: none;
  z-index: 9;
  top: 0;
  left: 0;
  height: 96vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 68%;
  transform: translateX(20px);
}

.modalfiltersmobile.is-open {
  display: flex;
  transition: all 1s ease-in-out;
  transform: translateX(-8px);
}

.modalfiltersmobile .head {
  position: relative;
}

.modalfiltersmobile .head :nth-child(1) {
  position: absolute;
  top: 8px;
  left: -5px;
  color: rgb(1, 156, 180);
}

.modalfiltersmobile .head :nth-child(1).active {
  display: block;
}
.modalfiltersmobile .head :nth-child(1).inactive {
  display: none;
}

.modalfiltersmobile .head :nth-child(2) {
  position: absolute;
  top: -12px;
  left: 22px;
}

.modalfiltersmobile .head :nth-child(2).active {
  opacity: 1;
  visibility: visible;
}

.modalfiltersmobile .head :nth-child(2).inactive {
  opacity: 0;
  visibility: hidden;
}

.modalfiltersmobile .head .modal-close {
  position: absolute;
  top: -40px;
  left: 286px;
  font-size: 30px;
}

/* content */

.modalfiltersmobile .modal-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modalfiltersmobile .modal-container .titlehead {
  margin-top: 62px;
  display: flex;
  justify-content: flex-start;
}

.modalfiltersmobile .modal-container .titlehead :nth-child(1),
.modalfiltersmobile .modal-container .titlehead :nth-child(3) {
  font-size: 22px;
}

.modalfiltersmobile .modal-container .titlehead :nth-child(1) {
  margin-right: 25px;
}

.modalfiltersmobile .modal-container .titlehead :nth-child(3) {
  display: none;
}

.modalfiltersmobile .modal-container .titlehead :nth-child(3).active {
  display: block;
}

.modalfiltersmobile .modal-container .titlehead svg {
  position: absolute;
  top: 81px;
  left: 77px;
  color: rgb(1, 156, 180);
  margin-right: 10px;
  display: none;
}

.modalfiltersmobile .modal-container .titlehead svg.active {
  display: block;
}

.modalfiltersmobile .modal-container .titlehead svg.align {
  position: absolute;
  top: 82px;
  left: 77px;
}

.modalfiltersmobile .modal-container .content hr.hide {
  display: none;
}

.modalfiltersmobile .modal-container .content hr {
  display: block;
  width: 316px;
  background-color: black;
  height: 1px;
}

@media (max-width: 321px) {
  .modalfiltersmobile .modal-container .content hr {
    max-width: 260px;
  }
}

@media (min-width: 321px) {
  .modalfiltersmobile .modal-container .content hr {
    max-width: 267px;
  }
}

@media (min-width: 336px) {
  .modalfiltersmobile .modal-container .content hr {
    max-width: 270px;
  }
}

@media (min-width: 343px) {
  .modalfiltersmobile .modal-container .content hr {
    max-width: 278px;
  }
}

@media (min-width: 353px) {
  .modalfiltersmobile .modal-container .content hr {
    max-width: 284px;
  }
}

@media (min-width: 363px) {
  .modalfiltersmobile .modal-container .content hr {
    max-width: 290px;
  }
}

@media (min-width: 373px) {
  .modalfiltersmobile .modal-container .content hr {
    max-width: 296px;
  }
}

@media (min-width: 373px) and (max-width: 390px) {
  .modalfiltersmobile .modal-container .content hr {
    max-width: 303px;
  }
}

.modalfiltersmobile .modal-container .content {
  display: flex;
  flex-direction: column;
}

.modalfiltersmobile .modal-container .content .option {
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.modalfiltersmobile .modal-container .content .option.inactive {
  display: none;
}

.modalfiltersmobile .modal-container .content :nth-child(1) svg {
  color: black;
  position: absolute;
  right: 5px;
  top: 18px;
}

.modalfiltersmobile .modal-container .content :nth-child(3) svg {
  color: black;
  position: absolute;
  right: 5px;
  top: 16px;
}

.modalfiltersmobile .modal-container .content .showitems {
  display: none;
  color: black;
}

.modalfiltersmobile .modal-container .content .showitems.active {
  display: block;
}

.modalfiltersmobile .modal-container #padrecleanfilters {
  position: absolute;
  bottom: 9px;
  left: 118px;
}

@media (min-width: 371px) and (max-width: 388px) {
  .modalfiltersmobile .modal-container #padrecleanfilters {
    position: absolute;
    bottom: 13px;
    left: 118px;
  }
}

@media (min-width: 388px) and (max-width: 393px) {
  .modalfiltersmobile .modal-container #padrecleanfilters {
    position: absolute;
    bottom: 16px;
    left: 118px;
  }
}

@media (min-width: 393px) and (max-width: 404px) {
  .modalfiltersmobile .modal-container #padrecleanfilters {
    position: absolute;
    bottom: 15px;
    left: 118px;
  }
}

@media (min-width: 404px) and (max-width: 413px) {
  .modalfiltersmobile .modal-container #padrecleanfilters {
    position: absolute;
    bottom: 16px;
    left: 118px;
  }
}

@media (min-width: 413px) and (max-width: 421px) {
  .modalfiltersmobile .modal-container #padrecleanfilters {
    position: absolute;
    bottom: 17px;
    left: 118px;
  }
}

@media (min-width: 421px) and (max-width: 429px) {
  .modalfiltersmobile .modal-container #padrecleanfilters {
    position: absolute;
    bottom: 19px;
    left: 118px;
  }
}

@media (min-width: 429px) and (max-width: 438px) {
  .modalfiltersmobile .modal-container #padrecleanfilters {
    position: absolute;
    bottom: 21px;
    left: 118px;
  }
}

@media (min-width: 1024px) {
  .modalfiltersmobile.isOpen {
    display: none;
  }
}
