.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
}

.filters #minprice {
  font-size: 20px;
}

.filters > div {
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {
  .filters {
    flex-direction: column;
    width: 50%;
  }

  .filters .pricefilter {
    flex-direction: column;
  }

  .filters .pricefilter {
    margin-bottom: 24px;
  }

  .filters .categoryfilter {
    display: flex;
    justify-content: flex-start;
  }

  .filters .categoryfilter select {
    width: 90%;
  }
}
