.products ul {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.products li {
  display: flex;
  flex-direction: column;
  width: calc(34% - 58px);
  gap: 0.1rem;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: #111;
  padding: 0.6rem;
}

.products li .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
}

.products li .content strong {
  font-size: 18px;
}

.products li #title {
  color: white;
  opacity: 0.8;
}

.products li #price {
  color: white;
}

.products img {
  object-fit: contain;
  width: 200px;
  height: 200px;
  border-radius: 4px;
  background: #fff;
  margin-bottom: 10px;
}

.products .isproductincart {
  margin-top: 4px;
}

.products button {
  cursor: pointer;
}

@media (max-width: 431px) {
  .products li {
    width: calc(51% - 32px);
  }

  .products img {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 460px) and (max-width: 541px) {
  .products li {
    width: calc(29% - 12px);
  }

  .products img {
    width: 100px;
    height: 100px;
  }
}

/* iPad mini */
@media (min-width: 767px) and (max-width: 769px) {
  .products li {
    width: calc(31% - 28px);
  }

  .products img {
    width: 140px;
    height: 122px;
  }
}
