h3 {
color: rgb(2, 191, 191);
  
}

.products {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.products .theproduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 192px;
  gap: 0.1rem;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: #111;
  padding: 0.6rem;
}

.products .theproduct .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
}

.products .theproduct .content strong {
  font-size: 18px;
}

.products .theproduct #title {
  color: white;
  opacity: 0.8;
}

.products .theproduct #price {
  color: white;
  font-size: 26px;
}

.products .containerprice {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
}

.products .containerprice :nth-child(2) {
  margin-left: 8px;
  background-color: red;
  border-radius: 4px;
  padding: 3px 5px;
}

.products img {
  object-fit: contain;
  width: 200px;
  height: 200px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.products .isproductincart {
  margin-top: 4px;
}

.products button {
  cursor: pointer;
}

@media (max-width: 364px) {
  .products {
    gap: 0.4rem;
  }

  .products .theproduct {
    width: 106px;
    padding: 1.6rem;
  }

  .products img {
    width: 115px;
    height: 120px;
  }
}

@media (min-width: 365px) and (max-width: 397px) {
  .products {
    gap: 0.4rem;
  }

  .products .theproduct {
    width: 120px;
    padding: 1.6rem;
  }

  .products img {
    width: 120px;
    height: 125px;
  }
}

@media (min-width: 397px) and (max-width: 459px) {
  .products {
    gap: 0.4rem;
  }

  .products .theproduct {
    width: 128px;
    padding: 1.6rem;
  }

  .products img {
    width: 125px;
    height: 130px;
  }
}

@media (min-width: 460px) and (max-width: 541px) {
  .products {
    gap: 0.4rem;
  }

  .products .theproduct {
    width: calc(31% - 19px);
    padding: 1rem;
  }

  .products img {
    width: 135px;
    height: 140px;
  }
}

/* iPad mini */
@media (min-width: 767px) and (max-width: 769px) {
  .products .theproduct {
    width: calc(31% - 28px);
  }

  .products img {
    width: 155px;
    height: 130px;
  }
}
