h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

section {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}

.wishlist {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
}

.clearwishlist {
  margin-bottom: 21px;
  background-color: red;
}

.wlfooter {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 356px) {
  .clearwishlist {
    width: 94%;
  }
}

@media (max-width: 389px) {
  .wishlist {
    gap: 0.4rem;
  }
}

@media (min-width: 390px) and (max-width: 452px) {
  wishlist {
    gap: 0.4rem;
  }
}

@media (min-width: 460px) and (max-width: 541px) {
  wishlist {
    gap: 0.4rem;
  }
}
