.elemento {
  width: 192px;
  gap: 0.1rem;
  border-radius: 4px;
  background: #111;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.elemento img {
  object-fit: contain;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.elemento .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
}

.elemento .content strong {
  font-size: 18px;
}

.elemento #title {
  color: white;
  opacity: 0.8;
}

.elemento #price {
  color: white;
  font-size: 26px;
}

.isproductincart {
  margin-top: 4px;
}

@media (max-width: 364px) {
  .elemento {
    width: 100px;
    padding: 1.4rem;
  }

  .elemento img {
    width: 120px;
    height: 120px;
  }
}

@media (min-width: 365px) and (max-width: 397px) {
  .elemento {
    width: 120px;
    padding: 1.4rem;
  }

  .elemento img {
    width: 120px;
    height: 125px;
  }
}

@media (min-width: 397px) and (max-width: 459px) {
  .elemento {
    width: 128px;
    padding: 1.5rem;
  }

  .elemento img {
    width: 125px;
    height: 130px;
  }
}

@media (min-width: 460px) and (max-width: 541px) {
  .elemento {
    width: calc(32% - 12px);
    padding: 1rem;
  }

  .elemento img {
    width: 135px;
    height: 140px;
  }
}

/* iPad mini */
@media (min-width: 767px) and (max-width: 769px) {
  .elemento {
    width: 145px;
  }

  .elemento img {
    width: 150px;
    height: 130px;
  }
}
